<div class="container">
  <div class="ui-compare-container">
    <div class="ui-compare-wrapper">
      <% @aged_cares.each do |aged_care| %>
        <div class="component">
          <div class="img-wrapper">
            <span class="cancel-icon">
              <img src="/images/cancel.png"  alt="Submit" />
            </span>
            <img src="/images/cover.jpg" alt="" data-name="component1">
          </div>
          <div class="intro-component">
            <div class="intro-name">
              <h3><%=aged_care.name%></h3>
            </div>
            <div class="intro-icon">
            </div>
          </div>
          <div class="ui-compare-component" >
            <div class="aged_care_content">
              <table>
                <tr>
                  <td>Rating:</td>
                  <td>
                    <p><%=aged_care.rating%> / 10</p>
                  </td>
                </tr>
                <tr>
                  <td>Cost:</td>
                  <td>
                    <p>$<%=aged_care.cost%></p>
                  </td>
                </tr>
                <tr>
                  <td>Location:</td>
                  <td>
                    <p><%=aged_care.location%></p>
                  </td>
                </tr>
                <tr>
                  <td colspan="2"></td>
                </tr>
                <tr>
                  <td colspan="2"><b>Services:</b></td>
                </tr>
                <% @services_records = AgedCareService.where(aged_care_id: aged_care.id)%>
                <% @services_records.each do |record|%>
                  <%service = Service.find_by(id: record.service_id)%>
                  <tr>
                    <td colspan="2">
                      <p>
                        <span class="circle-icon"><i class="far fa-check-circle"></i></span>
                        <%= service.name%></p>
                    </td>
                  </tr>
                <% end%>
              </table>
            </div>
            <button class="btn-detail"><a href="/details/<%= aged_care.id %>">Details</a> </button>
          </div>
        </div>
      <%end%>
    </div>
    <script>
      $('.ui-compare-wrapper').on('click', function(event) {
        //var name = $(event.target).closest('div').data('name');
        //$(event.target).closest('div').remove();
        $(event.target).closest('.component').hide(00,function(){
               $(event.target).closest('.component').remove();
               let length=$('.component').length;
               if(length==2){
                 $('.component').css('width',"45%");s
               }
                if(length==1){
                 $('.component').css('width',"90%");
               }
               });
      
      
      
      });
      
          </div>
          <div class="ui-graph">
      <div class="canvasRating">
        <canvas id="ratingChart">
        </canvas>
      </div>
      <div class="canvasCost">
        <canvas id="costChart">
        </canvas>
      </div>
          </div>
          <script>
      $('.ui-compare-wrapper').on('click', function(event) {
        //var name = $(event.target).closest('div').data('name');
        //$(event.target).closest('div').remove();
        $(event.target).closest('.component').remove();
      
      });
    </script>
  </div>
</div>
